:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

menu,li,ol {
    list-style: none;
}

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
    z-index: 999;
}

header menu{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    padding: 4px 8px;
    transition: .5s;

}

header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

span{
    color: #f07807;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fbf2e8;
    font-family: "Poppins", sans-serif;
}

section{
    height: 100vh;
    padding: var(--default-padding);
}

.home{
    background-color: var(--secundary-color);
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.slogan{
    position: relative;
    bottom: 90px;
    width: 560px;
    font-size: 4rem;
    background-color: li;
    font-weight: 400;
}

.slogan span{
    color: var(--primary-color);
}

.container-slogan{
    display: flex;
    justify-content: center;
    align-items: end;
    font-style: italic;
    gap: 64px;
}

.container-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.pizza:hover .add-pizza{
    opacity: 1;
}

.add-pizza{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: 3px solid white;
    color: white;
    font-size: 2rem;
    display: grid;
    place-content: center;
    position: absolute;
    top: -16px;
    right: -16px;
    transition: .5s;
    opacity: 0;
    z-index: 9;
}

.overflow {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.container-info {
    height: 36px;
    width: 261px;
    background-color: #0009;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -36px;
    transition: 0.5s;
    border-radius: 0 0 12px 12px;
    opacity: 69%;
}

.container-info span:nth-of-type(1) {
    width: 150px;
    height: 102px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    padding: 12px;
    opacity: 1;
}

.container-info p:nth-of-type(1) {
    width: 55px;
    height: 14px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    opacity: 1;
    background-color: #f07807;
}

.pizza:hover .container-info {
    bottom: 0;
}
 
.pizza:hover {
    overflow: visible;
}

.cardapio {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardapio-item {
    border-bottom: 2px solid var(--primary-color);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardapio-item:last-child {
    border: none;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 24px;
}

.section-title h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.item-text {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.item-text h4,
.item-text a {
    font-size: 2rem;
    font-weight: 600;
}

.bebida {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px;
    transition: 0.5s;
}

.bebida:hover {
    box-shadow: 0 0 16px #999;
}

.bebida p {
    width: 100%;
}

.bebida .preco {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

.bebida .descricao {
    font-size: 0.8rem;
    font-weight: 300;
}

.servicos{
    background-color:  #FEF8F2;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-block: 48px;
    gap: 32px;
}

.servicos-container {
   display: flex;
   justify-content: space-between;
}

.servicos-itens {
    width: 400px;
    height: 500px;
    border: 4px solid var(--primary-color);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-itens h4 {
    font-size: 2.5rem;
    font-weight: 500;
}

.servicos-itens p {
    text-shadow: var(--default-shadow);
    text-align: center;
}

footer {
    height: 526px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.contato {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 16px;
}

.contato.logo {
    display: grid;
    place-content: center;
    padding-top: 0;
}

.contato h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.contato menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato li {
    display: flex;
    gap: 12px;
}

.contato p {
    width: 200px;
}

.social a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    display: grid;
    place-content: center;
}

.contatos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    flex-grow: 1;
}

.copyright {
    height: 72px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid orange;
}


@media (max-width: 1024px) {
    :root {
        default-padding: 0 32px;
    }

    header {
    }

    header menu {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 64px;
        background-color: var(--primary-color);
        color: #fff;
        justify-content: space-evenly;
    }

    header li:hover {
        background-color: var(--secundary-color);
    }

    .home .container-produtos {
        display: none;
    }

    .home {
        grid-template-rows: none;
    }

    .container-slogan {
        flex-direction: column-reverse;
        gap: 128px;
        align-items: center;
    }

    .container-slogan .slogan {
        width: 100%;
    }

    .container-produtos {
        gap: 24px;
    }

    .cardapio-item {
        border: none;
    }

    .pizza {
        width: 100%;
    }

    .pizza:nth-child(3),
    .pizza:nth-child(4),
    .pizza:nth-child(5)  {
        display: none;
    }

    .servicos-container {
        flex-direction: column;
        gap: 32px;
    }

    .servicos-itens {
        width: 100%;
        height: 290px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicos-itens p {
        width: 320px;
    }

    .contato:nth-child(2) {
        display: none;
    }

    .contatos-container {
        height: 400px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .contato {
        padding: 0;
    }

    .contatos-container .logo {
        width: 50%;
        place-content: start;
    }

    .copyright {
        margin-bottom: 64px;
    }
}

@media (max-width: 568px) {
    
}
