:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

menu,li,ol {
    list-style: none;
}

header{
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu{
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    padding: 4px 8px;
    transition: .5s;

}

header li:hover{
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

span{
    color: #f07807;
}

body{
    background-color: #fbf2e8;
    font-family: "Poppins", sans-serif;
}

main{
    
}

section{
    height: 100vh;
    padding: var(--default-padding);
}

.home{
    background-color: var(--secundary-color);
    background-image: url(./img/background.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.slogan{
    position: relative;
    bottom: 90px;
    width: 560px;
    font-size: 4rem;
    background-color: li;
    font-weight: 400;
}

.slogan span{
    color: var(--primary-color);
}

.container-slogan{
    display: flex;
    justify-content: center;
    align-items: end;
    font-style: italic;
    gap: 64px;
}

.container-produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pizza {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.pizza:hover .add-pizza{
    opacity: 1;
}

.add-pizza{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: 3px solid white;
    color: white;
    font-size: 2rem;
    display: grid;
    place-content: center;
    position: absolute;
    top: -16px;
    right: -16px;
    transition: .5s;
    opacity: 0;
    z-index: 9;
}

.overflow {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.container-info {
    height: 36px;
    width: 261px;
    background-color: #0009;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -36px;
    transition: 0.5s;
    border-radius: 0 0 12px 12px;
    opacity: 69%;
}

.container-info span:nth-of-type(1) {
    width: 150px;
    height: 102px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    padding: 12px;
    opacity: 1;
}

.container-info p:nth-of-type(1) {
    width: 55px;
    height: 14px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    opacity: 1;
    background-color: #f07807;
}

.pizza:hover .container-info {
    bottom: 0;
}
 
.pizza:hover {
    overflow: visible;
}

.cardapio {
    background-color: white;
}

.cardapio-item {
    border-bottom: 2px solid var(--primary-color);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardapio-item:last-child {
    border: none;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 24px;
}

.section-title h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.item-text {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.item-text h4,
.item-text a {
    font-size: 2rem;
    font-weight: 600;
}

.bebida {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 4px;
    transition: 0.5s;
    flex-direction: column;
}

.bebida:hover {
    box-shadow: 0 0 16px #999;
}

.bebida p {
    width: 100%;
}

.bebida .preco {
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

.bebida .descricao {
    font-size: 0.8rem;
    font-weight: 300;
}

.servicos{
    background-color: #f07807;
}

footer{
    height: 526px;
}